.board-grid {
  display: grid;
  grid-template-columns: repeat(13, 60px);
  grid-template-rows: repeat(13, 60px);
  margin: auto;
  position: relative;
  background: #f8f8f8;
}
.tile {
  border: 1px solid #ccc;
  position: relative;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2px;
}
.tile-players {
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
  font-size: 16px;
}
.token {
  transition: transform 0.3s;
}